<ion-header >
      <div class="header">
        <h1 id="title-login">
          CACHFE
        </h1>
      </div>
  <div class="sub-header"></div>
</ion-header>

<ion-content class="padding">

  
    
    <ion-card-content>
    <ion-list class="padding">
        <ion-item id="username">
          <ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-list class="padding forms">
        <ion-item id="password">
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
  </ion-list>

    
  <ion-card-subtitle text-center>Registrate o Incia sesion</ion-card-subtitle>
 
</ion-card-content>

<ion-card-content text-center>
    <ion-button id="beating-btn"  color="primary" shape="round" fill="outline">Ingresar</ion-button>


</ion-card-content>



  
</ion-content>
